/* --------------------------------- Toolbar -------------------------------- */

.toolbar {
  /* Color */
  composes: bgWildSand from "../../index.css";
  /* Size */
  width: 100%;
  height: 3.75rem;
  /* Position */
  position: fixed;
  top: 0;
  left: 0;
  /* Layout */
  display: flex;
  align-items: center;
  /* Border */
  border-bottom: 1px solid #d9d9d9;
}

.hamburgerMenu {
  /* Font */
  font-size: 1.5rem;
  /* Padding */
  padding: 1rem;
  cursor: pointer;
}

.toolbarTitle {
  /* Position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Font */
  font-family: "Open Sans";
  font-weight: 900;
}

/* --------------------------------- Sidebar -------------------------------- */

.sidebar {
  /* Position */
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1;
  /* Size */
  width: 70vw;
  height: 100%;
  /* Border */
  border-right: 1px solid #d9d9d9;
  /* Others */
  overflow-x: hidden;
  transition: 300ms;
}

.sidebarOpen {
  composes: sidebar;
  left: 0;
  transition: 300ms;
}

.sidebarContainer {
  /* Color */
  composes: bgWildSand from "../../index.css";
  /* Size */
  height: inherit;
  /* Padding */
  padding: 1rem;
  /* Others */
  box-sizing: border-box;
}

.closeBtn {
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebarLogo {
  width: 7.5rem;
  margin: 0 auto;
}

hr {
  margin: 1rem 0;
}

h2 {
  text-align: center;
  margin: 1rem 0;
}

ol {
  margin: 1rem 0 2em 0;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 1rem 0;
}

p {
  text-align: center;
  margin: 2rem 0;
}

.accentColor {
  color: red;
  /* composes: supernova from "../index.css"; */
}

.startBtn {
  composes: button from "../elements/Button.module.css";
}

/* ------------------------------- Responsive ------------------------------- */

/* lg - Large devices(laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  hr {
    margin: 2rem 0;
  }

  h2 {
    margin: 2rem 0;
  }

  ol {
    margin: 2rem 0 3rem 0;
  }

  p {
    margin: 2rem 0;
  }
}
