main {
  /* Padding */
  padding: 1rem;
  /* Margin */
  margin-top: 3.5rem;
}

/* ------------------------------- Responsive ------------------------------- */

/* lg - Large devices(laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    /* Margin */
    margin-top: 3.75em;
    /* Padding */
    padding: 1rem;
    box-sizing: border-box;
  }
}
